:root {
    --cardinal-red: #8C1515;
    --fog: #DAD7CB;
    --off-white: #F4F4F4;
    --light-gray: #CCCCCC;
    --medium-gray: #666666;
    --white: #FFFFFF;
}

body {
    margin: 0px;
    background-color: var(--off-white);
    font-family: 'Source Sans Pro';
    font-size: 20px;
}

.main-content {
    width: 75%;
    margin: auto;
}

b {
    color: var(--cardinal-red);
}

h1 {
    font-family: 'Source Serif Pro';
}

p.question-text {
    margin-top: 0em;
    margin-bottom: .8em;
}

button {
    border: none;
    color: var(--white);
    font-size: 20px;
    padding: 15px 32px;
    text-align: center;
    background-color: var(--cardinal-red);
    display: block;
    margin-bottom: .8em;
}

button:hover {
    text-decoration: underline;
    cursor: pointer;
}

input[type=text],
textarea {
    font-size: 20px;
    display: block;
    margin-bottom: 1em;
    padding: .3em;
}

textarea {
    width: 100%;
    font-family: 'Source Sans Pro';
}

input[type=text]:disabled {
    color: var(--medium-gray);
}

input[type=text].long {
    width: 100%;
}

/* Fancy schmancy radio buttons */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

[type="radio"]:checked:disabled+label,
[type="radio"]:not(:checked):disabled+label {
    color: var(--medium-gray);
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--cardinal-red);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:checked:disabled+label:after,
[type="radio"]:not(:checked):disabled+label:after {
    background: var(--medium-gray);
    cursor: default;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.page-header {
    background-color: var(--cardinal-red);
    padding: 10px;
    border-width: 0px 0px 5px 0px;
    border-color: var(--fog);
    border-style: solid;
}

.question-container {
    display: flex;
    justify-content: center;
}

.question-column {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

.dermoscopy-image {
    width: 100%;
}

span.filename {
    background-color: var(--fog);
    color: var(--cardinal-red);
    font-family: 'Source Code Pro';
    font-weight: bold;
    padding-left: .2em;
    padding-right: .2em;
}

.error-message {
    font-size: 26px;
    background-color: var(--fog);
    padding: 10px;
    border: 1px solid var(--fog);
    border-radius: 5px;
    margin-top: 1em;
}

#header-image {
    height: 3em;
}

.zoom-image-container {
    position: relative;
}

.zoom-image-container img {
    width: 100%;
    margin: 0px;
    display: block;
}

.zoom-image-overlay {
    position: absolute;
    padding: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: .5s ease;
    opacity:0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.zoom-image-overlay svg {
    width: 20%;
}

.zoom-image-container:hover .zoom-image-overlay {
    opacity: 1;
    cursor: pointer;
}

.fullscreen-image-container {
    position: fixed;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    transition: .5s ease;
    opacity:1;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fullscreen-image-container div {
    width: auto;
    height: 75%;
    position: absolute;
}

.fullscreen-image-container div img{
    height: 100%;
    width: auto;
}

.fullscreen-image-container div svg{
    position: absolute;
    right: 0;
    top: 0;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.fullscreen-image-container div svg:hover{
    cursor: pointer;
}
