<!DOCTYPE html>
<html>

<head>
    <title>Survey Test</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Source+Code+Pro:wght@600&display=swap"> 
    {% STYLES %}
</head>

<body>
    <div id="root"></div>
</body>

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

<!--build script includes all the JSX code here:-->
{% SCRIPTS %}

<script type="text/jsx">
    ReactDOM.render(<MainView />, document.querySelector('#root'));
</script>
</html>